.nheader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    @include pd-tb(35, 20);
    &__left {
        width: 180px;
        .nimg {
            @include prefix(filter, grayscale(100%));
            @include prefix(transition, all .2s ease-in);
            cursor: pointer;
            &:hover {
                @include prefix(filter, grayscale(0));
            }
        }
    }
    &__right {
        text-align: right;
        width: 85%;
    }
    &__right-menu {
        >.item {
            display: inline-block;
            vertical-align: middle;
            +.item {
                margin-left: 40px;
            }
            >a {
                text-transform: uppercase;
                color: #fff;
                font-size: $font-14;
            }
        }
    }
}