.nheader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    @include pd-tb(35, 20);
    &__left {
        width: 180px;
        .nimg {
            @include prefix(filter, grayscale(100%));
            @include prefix(transition, all .2s ease-in);
            cursor: pointer;
            &:hover {
                @include prefix(filter, grayscale(0));
            }
        }
    }
    &__right {
        text-align: right;
        width: 85%;
    }
    &__right-menu {
        >.item {
            display: inline-block;
            vertical-align: middle;
            +.item {
                margin-left: 40px;
            }
            >a {
                text-transform: uppercase;
                color: #fff;
                font-size: $font-14;
            }
        }
    }
}

footer {
    background-color: $color-black;
    @include pd-tb(100, 100);
}

.nfooter {
    a {
        @include prefix(transition, all .2s ease-in);
        &:hover {
            color: #fff;
        }
    }
    &__title {
        font-size: $font-18;
        margin-bottom: 20px;
    }
    .item+.item {
        margin-left: 60px;
    }
    &__social {
        margin-top: 10px;
        .nitem {
            +.nitem {
                margin-left: 13px;
            }
        }
        .nicon {
            @include prefix(transition, opacity .2s ease-in);
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
        .nfacebook {
            width: 25px;
        }
        .nyoutube {
            width: 33px;
        }
        .ninstagram {
            width: 23px;
        }
    }
}