.nheader {
    padding: 1.176rem 0 1.059rem;
    &__left {
        width: 15%;
        .nimg {
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            transition: all .2s ease-in;
            cursor: pointer;
            &:hover {
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
                -ms-filter: grayscale(0);
            }
        }
    }
    &__right {
        text-align: right;
        width: 85%;
    }
    &__right-menu {
        >.item {
            display: inline-block;
            vertical-align: middle;
            +.item {
                margin-left: 3.529rem;
            }
            >a {
                text-transform: uppercase;
                color: $color-black;
                font-size: 0.8824rem;
                letter-spacing: 0.1765rem;
            }
        }
    }
}

.bg-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/banner-01.jpg') center center no-repeat;
    background-size: cover;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(24, 33, 45, 0.92);
        z-index: 1;
    }
    &__inner {
        position: relative;
        z-index: 2;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    &__title {
        letter-spacing: 0.25rem;
    }
}